.itensbox{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    position: fixed;
    width: 465px;
    height: 400px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);;
}

.itensbox_title{
    font-size: 30px;
    font-weight: bold;
    margin-top: 19px;
    margin-left: 16px;
    display: flex;
    align-items: center;
}

.button{
    cursor: pointer;
    margin-left: 72px;
    border: none;
    background-color: white;
}

.morebutton{
    cursor: pointer;
    border: none;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.list{
    margin: 16px;
}

.itemList{
    font-size: 24px;
    margin-bottom: 16px;
}