.itensbox{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    position: fixed;
    width: 465px;
    overflow: auto;
    height: 444px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);;
}


.itensbox_title_box{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.itensbox_title{
    font-size: 30px;
    font-weight: bold;
    margin-top: 19px;
    margin-left: 16px;
    display: flex;
    align-items: center;
}

.button{
    cursor: pointer;
    margin-left: 72px;
    border: none;
    transition-duration: 1s;
    background-color: white;
}

::-webkit-scrollbar{
    width: 16px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px #D5D5D5;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb{
    background-color: #90E6A3;
    border-radius: 20px;
}

.morebutton{
    cursor: pointer;
    border: none;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.list{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemList{
    font-size: 24px;
    margin-bottom: 16px;
}