.card {
    background-color: #A0FBB4;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}

.card_title {
    font-size: 15px;
    margin-bottom: 10px;
    font-weight:bolder;
}
  
.card_values {
    font-size: 15px;
    color: #666;
  }
  