.placeholder {
    margin-top: 6.4rem;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25.0rem;
    height: 24.7rem;
    border-radius: 1rem;
    background: linear-gradient(180deg, #90E6A3 0%, #8BCAB3 99.99%, #75967C 100%);
    overflow: visible;
}

.image {
    position: relative;
    top: -1.5rem
}

.texts {
    position: absolute;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 0.8rem;
}

.market {
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 0.5rem;
}

.discont {
    font-size: 1.5rem;
    font-weight: 900;
    margin-top: 0.5rem;
}

.full {
    font-size: 1.3rem;
    font-weight: 500;
    text-decoration: line-through;
    color: #7F7F7F;
}

.buttons {
    display: flex;
    flex-direction: column;
    margin-top: 4.2rem;
}

.button {
    margin-top: 0.8rem;
    cursor: pointer;
    background-color: #C4EBCC;
    width: 25rem;
    height: 3.6rem;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 1rem;
    transition: transform 0.2s ease;
}

.button:hover {
    transform: scale(1.05);
}

.button2 {
    height: 2.6rem;
    width: 10rem;
    position: relative;
    margin-left: 15rem;
    margin-bottom: 0.8rem;
    display: flex;
    gap: 1.7rem;
    align-items: center;
    justify-content: center;
    background-color: #C4EBCC;
    border-radius: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.minusandplus {
    background-color: #C4EBCC;
    cursor: pointer;
}